@model WebApplication2.Models.UserReviews 

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>From</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Leave a feedback</h4></div>
        <div class="panel-body">
            <div class="container" style="width: 600px; height: auto; padding: 15px; border: 10px outset #77a177;">
                <div asp-validation-summary="All"></div>

                <form class="p-a-1" asp-action="RsvpForm" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <label for="Email">Email</label>
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email" />

                        </div>

                        <div class="form-group col-md-6">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Name" />
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <label for="Text">Your review</label>
                        <textarea class="form-control" asp-for="Text" placeholder="Feedback" rows="5" cols="35"
                                  style="min-width: 550px; max-width: 550px; max-height:150px;"></textarea>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                <p> <a class="nav-link" asp-action="ListReviews">List of reviews</a></p>
            </div>
        </div>
    </div>
</body>
</html>


